{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
h1,h2 {
  text-align: center;
  font-family: "Arial nova"; 
  color: darkgrey;
}
body {
  justify-content: center;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}
